body {
  margin: 0;
  margin-top: 56px;
  font-family: "Montserrat", sans-serif;
}
.navbar {
}
.banner-image {
  background-image: url("./openingbannerphoto.jpeg");
  background-size: cover;
  background-position: center center;
}
.banner {
  background: rgba(22, 109, 138, 0.4);
  margin: 0px 0px 0px 0px;
  color: white;
  padding: 100px;
}
.banner h1 {
  text-align: left;
  font-size: 60px;
  margin: 25px 0px 100px 10px;
}
#tag {
  text-align: right;
  margin: 5px 100px 0px 100px;
  font-size: 30px;
}
#line {
  text-align: right;
  margin: 5px 100px 0px 100px;
  font-size: 30px;
}
.body-one {
  margin: 0px;
  padding: 75px;
}
.body-one p {
  color: grey;
  font-size: 15px;
  text-align: justify;
}
.banner-imageNHS {
  background-image: url("./NHSbanner.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.NHSbanner {
  background: rgba(36, 180, 165, 0.8);
  margin: 0px 0px 0px 0px;
  color: white;
  padding: 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.banner-imagePrivate {
  background-image: url("./privatebanner.jpeg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.Privatebanner {
  background: rgba(143, 237, 194, 0.8);
  margin: 0px 0px 0px 0px;
  color: white;
  padding: 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.eduhealthbanner {
  background-image: url("./eduhealthbanner.jpeg");
  background-size: cover;
  background-position: center center;
}
.education {
  padding: 100px;
  background: rgba(22, 109, 138, 0.8);
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inthenews {
  padding: 100px;
  background: #fdd741;
  color: white;
  margin-bottom: 0;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer {
  background: grey;
  color: white;
  padding: 25px;
}
.wecare {
  font-size: 32px;
}
