body {
  margin: 0;
  margin-top: 56px;
  font-family: "Montserrat", sans-serif;
}
.navbar {
}
.banner-image {
  background-image: url("./openingbannerphoto.jpeg");
  background-size: cover;
  background-position: center center;
}
.banner {
  background: rgba(22, 109, 138, 0.4);
  margin: 0px 0px 0px 0px;
  color: white;
  padding: 100px;
}
.banner h1 {
  text-align: left;
  font-size: 60px;
  margin: 25px 0px 100px 0px;
}
.banner-title {
  text-align: right;
  font-size: 30px;
  margin: 5px 100px 0px 100px;
}
.banner-title-mobile {
  text-align: left;
  margin: 5px 0px;
  font-size: 20px;
}
.body-one {
  position: relative;
  margin: 0px;
  padding: 100px;
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.body-one p {
  color: grey;
  font-size: 15px;
  text-align: justify;
}
.banner-imageNHS {
  background-image: url("./NHSbanner.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.NHSbanner {
  background: rgba(36, 180, 165, 0.8);
  margin: 0px 0px 0px 0px;
  color: white;
  padding: 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.3s ease;
  cursor: pointer;
}
.NHSbanner:hover {
  background: rgba(36, 180, 165, 1);
}
.banner-imagePrivate {
  background-image: url("./privatebanner.jpeg");
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.Privatebanner {
  background: rgba(143, 237, 194, 0.8);
  margin: 0px 0px 0px 0px;
  color: white;
  padding: 100px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.3s ease;
  cursor: pointer;
}
.Privatebanner:hover {
  background: rgba(143, 237, 194, 1);
}
.eduhealthbanner {
  background-image: url("./eduhealthbanner.jpeg");
  background-size: cover;
  background-position: center center;
}
.education {
  padding: 100px;
  background: rgba(22, 109, 138, 0.8);
  color: white;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.3s ease;
  cursor: pointer;
}
.education:hover {
  background: rgba(22, 109, 138, 1);
}
.inthenews {
  padding: 100px;
  background: #fdd741;
  color: white;
  margin-bottom: 0;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: background 0.3s ease;
  cursor: pointer;
}
.inthenews:hover {
  background: rgba(143, 237, 194, 1);
}
.footer {
  background: grey;
  color: white;
  padding: 25px;
}
.wecare {
  font-size: 32px;
}
.about-banner {
  background-image: url("./aboutbanner.jpeg");
  background-size: cover;
  background-position: center center;
}
.aboutbanner {
  background: rgba(22, 109, 138, 0.8);
  margin: 0px 0px 0px 0px;
  color: white;
  padding: 100px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  font-size: 14px;
  color: white;
}
.mission {
  margin: 0px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
  font-size: 16px;
  padding-bottom: 10px;
}
.mission p {
  margin-bottom: 0;
}
.missionvid {
  margin: 0px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
  font-size: 24px;
}
.extracopy {
  margin: 0px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: grey;
  font-size: 16px;
  padding-top: 0px;
}

.bodycopy {
  position: relative;
}

.offset-container-fluid {
  padding-top: 40px;
}

.mission-banner {
  position: absolute;
  left: 0;
  right: 0;
  top: -40px;
  margin: 0 auto;
  max-width: 75%;
  padding: 40px;
  background-color: white;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.contact {
  padding: 100px;
  background: white;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.buttons {
  text-align: right;
}
.social-button {
  padding: 5px;
  transition: color 0.3s ease;
  cursor: pointer;
}
.social-button:hover {
  color: #fdd741;
}

.carousel-container {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: 0 auto;
  max-width: 60%;
  background-color: white;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);

  z-index: 1;
}

.carousel-container-mobile {
  position: absolute;
  left: 0;
  right: 0;
  top: -20px;
  margin: 0 auto;
  max-width: 90%;
  background-color: white;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.05);
  z-index: 1;
}
.carousel-item {
  height: 300px;
}
.slide-item {
  background: white;
  padding-left: 100px;
  padding-right: 100px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slide-item-mobile {
  background: white;
  padding-left: 20px;
  padding-right: 20px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
